extends _layout

block main
	section.section.hero
		.hero__video-wrapper
			video(src="").hero__video
		.container
			.breadcrumbs
				a.breadcrumbs__link(href="#") Главная
				a.breadcrumbs__link(href="#") Решения
			.hero__column
				h1.hero__title.h1 Производственные мощности
				.hero__play-button
					<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M26.5 13.634C27.1667 14.0189 27.1667 14.9811 26.5 15.366L7.75 26.1913C7.08333 26.5762 6.25 26.0951 6.25 25.3253L6.25 3.67468C6.25 2.90488 7.08334 2.42376 7.75 2.80866L26.5 13.634Z" fill="white"/>
					</svg>

	section.section.info
		.container
			h2.section__title.info__title Тюменский завод нефтепромыслового оборудования
			.info__row
				img.info__img(src="assets/img/main-page-img-01.jpg", alt="")
				.info__col
					h6.info__title-h6 Тюменский завод нефтепогружного оборудования (ТЗНПО) специализируется на производстве силовых кабелей для электропогружных насосов.
					p.info__text Завод является производственным комплексом мирового класса с полностью автоматизированным процессом производства и высокими стандартами качества
					p.info__text На предприятии внедрена мировая система менеджмента качества ISO 9001:2015. Вся продукция соответствует ГОСТ Р 51777-2001.
					p.info__text-title Локация: г. Тюмень <br> Год основания: 2014

	section.section.info
		.container
			h2.section__title.info__title Мощности ТЗНПО
			.swiper.info-swiper
				.swiper-wrapper
					.swiper-slide.benefit-card
						.benefit-card__number-wrapper
							p.benefit-card__number 01
						p.benefit-card__text Мощности завода - 12000 км <br> нефтепогружного кабеля в год
					.swiper-slide.benefit-card
						.benefit-card__number-wrapper
							p.benefit-card__number 02
						p.benefit-card__text Производство полного цикла
					.swiper-slide.benefit-card
						.benefit-card__number-wrapper
							p.benefit-card__number 03
						p.benefit-card__text Производство 8 видов кабеля
					.swiper-slide.benefit-card
						.benefit-card__number-wrapper
							p.benefit-card__number 04
						p.benefit-card__text Мощности завода - 12000 км <br> нефтепогружного кабеля в год
				.swiper-pagination
			.info__row
				.info__col
					h4.h4.info__inner-title
						<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M35.5156 16.7123C34.436 15.9228 32.8956 16.1295 32.0723 17.2081L23.8415 27.9897L19.4577 23.8639L19.4377 23.8451L19.4167 23.8274L19.2437 23.6823L19.2157 23.6588L19.1861 23.6375C18.2136 22.9385 16.8337 23.0289 15.9615 23.9164C15.0016 24.8932 15.0402 26.4432 16.0244 27.3698L22.4132 33.3843L22.4334 33.4034L22.4548 33.4212L22.6304 33.5687L22.6588 33.5924L22.6889 33.6139C23.7509 34.3747 25.2824 34.1853 26.1098 33.1013L35.9952 20.1508L36.0126 20.128L36.0286 20.1042L36.1544 19.9178L36.1753 19.887L36.1937 19.8548C36.8003 18.792 36.5144 17.4426 35.5156 16.7123Z" fill="#03BE93"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M27.679 20.3081L18.7852 31.9582L13.611 27.0885L13.438 26.9432C12.8469 26.5184 12.0099 26.5778 11.4875 27.1094C10.9178 27.6889 10.9361 28.6106 11.5283 29.1682L17.917 35.1826L18.0928 35.3301C18.7388 35.7929 19.6665 35.671 20.1601 35.0241L30.0455 22.0734L30.1713 21.8871C30.5288 21.2607 30.365 20.455 29.7611 20.0134C29.1028 19.532 28.1704 19.6642 27.679 20.3081Z" fill="black"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M27.679 20.3081L18.7852 31.9582L13.611 27.0885L13.438 26.9432C12.8469 26.5184 12.0099 26.5778 11.4875 27.1094C10.9178 27.6889 10.9361 28.6106 11.5283 29.1682L17.917 35.1826L18.0928 35.3301C18.7388 35.7929 19.6665 35.671 20.1601 35.0241L30.0455 22.0734L30.1713 21.8871C30.5288 21.2607 30.365 20.455 29.7611 20.0134C29.1028 19.532 28.1704 19.6642 27.679 20.3081Z" fill="url(#paint0_linear_2087_1018)"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M38.8455 6.18202H35.9842V4.91918L35.978 4.91763L35.9734 3.89948L35.9602 3.67464C35.8633 2.96335 35.2394 2.41389 34.4857 2.41389H28.5742V1.45602C28.5742 0.651786 27.9081 0 27.0865 0H17.2213C16.3995 0 15.7336 0.651786 15.7336 1.45602V2.41395H9.82212C9.11805 2.41395 8.5284 2.89238 8.37392 3.53527V6.18202H5.46212C3.02971 6.18202 1.05786 8.15386 1.05786 10.5863V40.7551C1.05786 43.1875 3.02971 45.1594 5.46212 45.1594H38.8455C41.2779 45.1594 43.2497 43.1875 43.2497 40.7551V10.5863C43.2497 8.15386 41.2779 6.18202 38.8455 6.18202ZM11.3094 5.32593H17.2209C18.0426 5.32593 18.7085 4.67415 18.7085 3.86991V2.91203H25.5439L25.6119 4.06513C25.7087 4.77647 26.3326 5.32593 27.0864 5.32593H32.9979V9.65563H11.3094V5.32593ZM40.3136 40.7551C40.3136 41.5659 39.6564 42.2232 38.8455 42.2232H5.46212C4.65131 42.2232 3.99403 41.5659 3.99403 40.7551V10.5863C3.99403 9.77547 4.65131 9.11819 5.46212 9.11819H8.37392V11.4478C8.52905 12.0899 9.11829 12.5676 9.82164 12.5676H34.4855C35.3072 12.5676 35.9731 11.9159 35.9731 11.1116L35.9743 9.11819H38.8455C39.6564 9.11819 40.3136 9.77547 40.3136 10.5863V40.7551Z" fill="black"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M38.8455 6.18202H35.9842V4.91918L35.978 4.91763L35.9734 3.89948L35.9602 3.67464C35.8633 2.96335 35.2394 2.41389 34.4857 2.41389H28.5742V1.45602C28.5742 0.651786 27.9081 0 27.0865 0H17.2213C16.3995 0 15.7336 0.651786 15.7336 1.45602V2.41395H9.82212C9.11805 2.41395 8.5284 2.89238 8.37392 3.53527V6.18202H5.46212C3.02971 6.18202 1.05786 8.15386 1.05786 10.5863V40.7551C1.05786 43.1875 3.02971 45.1594 5.46212 45.1594H38.8455C41.2779 45.1594 43.2497 43.1875 43.2497 40.7551V10.5863C43.2497 8.15386 41.2779 6.18202 38.8455 6.18202ZM11.3094 5.32593H17.2209C18.0426 5.32593 18.7085 4.67415 18.7085 3.86991V2.91203H25.5439L25.6119 4.06513C25.7087 4.77647 26.3326 5.32593 27.0864 5.32593H32.9979V9.65563H11.3094V5.32593ZM40.3136 40.7551C40.3136 41.5659 39.6564 42.2232 38.8455 42.2232H5.46212C4.65131 42.2232 3.99403 41.5659 3.99403 40.7551V10.5863C3.99403 9.77547 4.65131 9.11819 5.46212 9.11819H8.37392V11.4478C8.52905 12.0899 9.11829 12.5676 9.82164 12.5676H34.4855C35.3072 12.5676 35.9731 11.9159 35.9731 11.1116L35.9743 9.11819H38.8455C39.6564 9.11819 40.3136 9.77547 40.3136 10.5863V40.7551Z" fill="url(#paint1_linear_2087_1018)"/>
							<defs>
							<linearGradient id="paint0_linear_2087_1018" x1="28.0393" y1="34.7774" x2="13.5" y2="16.108" gradientUnits="userSpaceOnUse">
							<stop stop-color="#07302D"/>
							<stop offset="1" stop-color="#0078BE"/>
							</linearGradient>
							<linearGradient id="paint1_linear_2087_1018" x1="38.176" y1="42.7964" x2="-4.45318" y2="0.674356" gradientUnits="userSpaceOnUse">
							<stop stop-color="#07302D"/>
							<stop offset="1" stop-color="#0078BE"/>
							</linearGradient>
							</defs>
						</svg>
						| Преимущества
					.info__inner-col
						ul.info__list
							li.info__list-element Введены строгие приемо-сдаточные испытания: обязателен не только DC, но и AC тест каждого барабана (тест прочности изоляции постоянным током и тест диэлектрика переменным током)
							li.info__list-element Проводится многоступенчатый отбор поставщиков
							li.info__list-element Изготавливаются по специальной формуле этиленпропиленовые каучики (EPDM) с высокой диэлектрической стойкостью
							li.info__list-element Этиленпропиленовые каучуки (EPDM) с высочайшей диэлектрической стойкостью изготавливаются по специальной формуле для ТЗНПО
							li.info__list-element Применяется инспекция качества 100% поверхностей с помощью ИИ для выявления дефектов
							li.info__list-element Внедрена модификация конструкции кабельных линий для любых нестандартных скважинных условий
						button.info__button.base-button
							| ПОДРОБНЕЕ О ПРОДУКЦИИ
							<svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.1709 3.69401C16.2781 3.29391 16.0406 2.88266 15.6405 2.77546L9.12049 1.02843C8.72039 0.921221 8.30914 1.15866 8.20193 1.55876C8.09473 1.95886 8.33216 2.37011 8.73226 2.47732L14.5278 4.03023L12.9749 9.82578C12.8677 10.2259 13.1052 10.6371 13.5053 10.7443C13.9054 10.8516 14.3166 10.6141 14.4238 10.214L16.1709 3.69401ZM1.96497 12.1494L15.8214 4.14942L15.0714 2.85038L1.21497 10.8504L1.96497 12.1494Z" fill="black"/>
							</svg>
				img.info__img(src="assets/img/main-page-img-02.jpg", alt="")

	section.section.info.info--green
		.container
			h2.section__title.info__title Ойлпамп Сервис
			.info__row
				img.info__img(src="assets/img/main-page-img-03.jpg", alt="")
				.info__col
					.info__inner-col
						ul.info__list
							li.info__list-element Тюменский завод нефтепогружного оборудования (ТЗНПО) специализируется на производстве силовых кабелей для электропогружных насосов.
							li.info__list-element Завод является производственным комплексом мирового класса: это полностью автоматизированный процесс производства с высокими стандартами качества.
							li.info__list-element На предприятии внедрена мировая система менеджмента качества ISO 9001: <br> 2015, вся продукция соответствует ГОСТ Р 51777-2001.
							li.info__list-element Локация: г. Тюмень <br> Год основания: 2014
						button.info__button.base-button
							| ПОДРОБНЕЕ О ПРОДУКЦИИ
							<svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.1709 3.69401C16.2781 3.29391 16.0406 2.88266 15.6405 2.77546L9.12049 1.02843C8.72039 0.921221 8.30914 1.15866 8.20193 1.55876C8.09473 1.95886 8.33216 2.37011 8.73226 2.47732L14.5278 4.03023L12.9749 9.82578C12.8677 10.2259 13.1052 10.6371 13.5053 10.7443C13.9054 10.8516 14.3166 10.6141 14.4238 10.214L16.1709 3.69401ZM1.96497 12.1494L15.8214 4.14942L15.0714 2.85038L1.21497 10.8504L1.96497 12.1494Z" fill="black"/>
							</svg>

			.info__col
				h4.h4.info__inner-title
					<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M30.1746 34.2656H30.161L30.1474 34.2664L29.9326 34.2783L29.9159 34.2792L29.8995 34.2813C28.9209 34.4026 28.1593 35.2146 28.1593 36.2036C28.1593 37.2777 29.0565 38.1416 30.1553 38.1416H34.7345V42.5521V42.5666L34.7353 42.581L34.7476 42.7871L34.7487 42.8051L34.751 42.8228C34.8781 43.7778 35.7191 44.5098 36.7304 44.5098C37.8292 44.5098 38.7264 43.6458 38.7264 42.5717V38.1415H43.2863H43.2999L43.3134 38.1408L43.5283 38.1289L43.5449 38.1279L43.5614 38.1259C44.5399 38.0046 45.3015 37.1926 45.3015 36.2036C45.3015 35.1295 44.4043 34.2656 43.3055 34.2656H38.7264V29.8551V29.8406L38.7255 29.8261L38.7133 29.62L38.7122 29.6021L38.7098 29.5844C38.5827 28.6293 37.7418 27.8974 36.7305 27.8974C35.6317 27.8974 34.7345 28.7613 34.7345 29.8355V34.2656H30.1746Z" fill="#03BE93" stroke="#03BE93" stroke-width="0.978723"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M12.8932 0.561981C12.0901 0.561981 11.4208 1.21552 11.4208 2.04433V5.79525L11.4215 5.80796V7.30982H14.3615V5.92463C14.3641 5.88822 14.3655 5.85141 14.3655 5.81425V2.06332L14.3534 1.85192C14.2592 1.11631 13.633 0.561981 12.8932 0.561981ZM28.4726 36.1231H33.522V31.2035C33.522 30.4133 34.1861 29.7548 35.0285 29.7548C35.8031 29.7548 36.4292 30.3135 36.5229 31.017L36.5352 31.2231V36.123H41.6037C42.4461 36.123 43.1103 36.7815 43.1103 37.5717C43.1103 38.2996 42.5469 38.9157 41.7992 39.0084L41.5843 39.0203H36.5352V43.9398C36.5352 44.73 35.8709 45.3885 35.0285 45.3885C34.254 45.3885 33.6279 44.8298 33.5342 44.1263L33.522 43.9202V39.0203H28.4534C27.6111 39.0203 26.9468 38.3618 26.9468 37.5717C26.9468 36.8437 27.5102 36.2277 28.2578 36.135L28.4726 36.1231ZM22.4061 33.523C22.4061 32.7329 21.7419 32.0744 20.8995 32.0744H9.9602L9.74528 32.0864C8.99764 32.179 8.43424 32.795 8.43424 33.523C8.43424 34.3132 9.09849 34.9717 9.94086 34.9717H20.8801L21.095 34.9597C21.8427 34.867 22.4061 34.251 22.4061 33.523ZM28.9813 26.0109C28.9813 25.2207 28.317 24.5622 27.4746 24.5622H9.96017L9.74528 24.5742C8.99764 24.6668 8.43424 25.2829 8.43424 26.0108C8.43424 26.8011 9.09849 27.4595 9.94086 27.4595H27.4554L27.6702 27.4476C28.4178 27.3549 28.9813 26.7388 28.9813 26.0109ZM29.96 0.602411C29.1569 0.602411 28.4876 1.25595 28.4876 2.08476V5.83568L28.488 5.84316V7.30217H31.4318V5.89248C31.4322 5.87994 31.4323 5.86734 31.4323 5.85468V2.10375L31.4202 1.89235C31.326 1.15674 30.6998 0.602411 29.96 0.602411ZM33.0033 3.34141H38.3743C40.8067 3.34141 42.7785 5.31325 42.7785 7.74566V26.9542C42.7785 27.765 42.1213 28.4223 41.3105 28.4223C40.4997 28.4223 39.8424 27.765 39.8424 26.9542V19.0545H3.63454V41.0337C3.63454 41.8445 4.29182 42.5018 5.10262 42.5018H21.7619C22.5727 42.5018 23.23 43.159 23.23 43.9699C23.23 44.7807 22.5727 45.438 21.7619 45.438H5.10262C2.67022 45.438 0.698364 43.4662 0.698364 41.0337V8.62128C0.698364 6.18887 2.67022 4.21702 5.10262 4.21702H10.4552V9.23498H15.3876V6.17446C15.3876 5.09339 16.264 4.21702 17.345 4.21702H25.6567C26.4674 4.21702 27.1247 4.8743 27.1247 5.6851V9.23498H33.0033V3.34141ZM3.63454 16.1183V8.62128C3.63454 7.81047 4.29182 7.15318 5.10262 7.15318H7.51902V10.2137C7.51902 11.2947 8.3954 12.1711 9.47647 12.1711H16.3663C17.4474 12.1711 18.3238 11.2947 18.3238 10.2137V7.15318H24.1886V10.703C24.1886 11.5139 24.8459 12.1711 25.6567 12.1711H33.9821C35.0632 12.1711 35.9395 11.2947 35.9395 10.2137V6.27758H38.3743C39.1852 6.27758 39.8424 6.93486 39.8424 7.74566V16.1183H3.63454Z" fill="#D9D9D9"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M12.8932 0.561981C12.0901 0.561981 11.4208 1.21552 11.4208 2.04433V5.79525L11.4215 5.80796V7.30982H14.3615V5.92463C14.3641 5.88822 14.3655 5.85141 14.3655 5.81425V2.06332L14.3534 1.85192C14.2592 1.11631 13.633 0.561981 12.8932 0.561981ZM28.4726 36.1231H33.522V31.2035C33.522 30.4133 34.1861 29.7548 35.0285 29.7548C35.8031 29.7548 36.4292 30.3135 36.5229 31.017L36.5352 31.2231V36.123H41.6037C42.4461 36.123 43.1103 36.7815 43.1103 37.5717C43.1103 38.2996 42.5469 38.9157 41.7992 39.0084L41.5843 39.0203H36.5352V43.9398C36.5352 44.73 35.8709 45.3885 35.0285 45.3885C34.254 45.3885 33.6279 44.8298 33.5342 44.1263L33.522 43.9202V39.0203H28.4534C27.6111 39.0203 26.9468 38.3618 26.9468 37.5717C26.9468 36.8437 27.5102 36.2277 28.2578 36.135L28.4726 36.1231ZM22.4061 33.523C22.4061 32.7329 21.7419 32.0744 20.8995 32.0744H9.9602L9.74528 32.0864C8.99764 32.179 8.43424 32.795 8.43424 33.523C8.43424 34.3132 9.09849 34.9717 9.94086 34.9717H20.8801L21.095 34.9597C21.8427 34.867 22.4061 34.251 22.4061 33.523ZM28.9813 26.0109C28.9813 25.2207 28.317 24.5622 27.4746 24.5622H9.96017L9.74528 24.5742C8.99764 24.6668 8.43424 25.2829 8.43424 26.0108C8.43424 26.8011 9.09849 27.4595 9.94086 27.4595H27.4554L27.6702 27.4476C28.4178 27.3549 28.9813 26.7388 28.9813 26.0109ZM29.96 0.602411C29.1569 0.602411 28.4876 1.25595 28.4876 2.08476V5.83568L28.488 5.84316V7.30217H31.4318V5.89248C31.4322 5.87994 31.4323 5.86734 31.4323 5.85468V2.10375L31.4202 1.89235C31.326 1.15674 30.6998 0.602411 29.96 0.602411ZM33.0033 3.34141H38.3743C40.8067 3.34141 42.7785 5.31325 42.7785 7.74566V26.9542C42.7785 27.765 42.1213 28.4223 41.3105 28.4223C40.4997 28.4223 39.8424 27.765 39.8424 26.9542V19.0545H3.63454V41.0337C3.63454 41.8445 4.29182 42.5018 5.10262 42.5018H21.7619C22.5727 42.5018 23.23 43.159 23.23 43.9699C23.23 44.7807 22.5727 45.438 21.7619 45.438H5.10262C2.67022 45.438 0.698364 43.4662 0.698364 41.0337V8.62128C0.698364 6.18887 2.67022 4.21702 5.10262 4.21702H10.4552V9.23498H15.3876V6.17446C15.3876 5.09339 16.264 4.21702 17.345 4.21702H25.6567C26.4674 4.21702 27.1247 4.8743 27.1247 5.6851V9.23498H33.0033V3.34141ZM3.63454 16.1183V8.62128C3.63454 7.81047 4.29182 7.15318 5.10262 7.15318H7.51902V10.2137C7.51902 11.2947 8.3954 12.1711 9.47647 12.1711H16.3663C17.4474 12.1711 18.3238 11.2947 18.3238 10.2137V7.15318H24.1886V10.703C24.1886 11.5139 24.8459 12.1711 25.6567 12.1711H33.9821C35.0632 12.1711 35.9395 11.2947 35.9395 10.2137V6.27758H38.3743C39.1852 6.27758 39.8424 6.93486 39.8424 7.74566V16.1183H3.63454Z" fill="url(#paint0_linear_2087_1178)"/>
						<defs>
						<linearGradient id="paint0_linear_2087_1178" x1="38.0101" y1="43.0898" x2="-4.35463" y2="0.745085" gradientUnits="userSpaceOnUse">
						<stop stop-color="#07302D"/>
						<stop offset="1" stop-color="#0078BE"/>
						</linearGradient>
						</defs>
					</svg>
					| Типы продукции:

			.info__row.info__row--wrap.info__row--center
				.benefit-card.benefit-card--darken.benefit-card--dynamic
					.benefit-card__number-wrapper
						p.benefit-card__number 01
					p.benefit-card__text Насосы
				.benefit-card.benefit-card--darken.benefit-card--dynamic
					.benefit-card__number-wrapper
						p.benefit-card__number 02
					p.benefit-card__text Газосепараторы
				.benefit-card.benefit-card--darken.benefit-card--dynamic
					.benefit-card__number-wrapper
						p.benefit-card__number 03
					p.benefit-card__text.benefit-card__text--small Диспергаторы
				.benefit-card.benefit-card--darken.benefit-card--dynamic
					.benefit-card__number-wrapper
						p.benefit-card__number 04
					p.benefit-card__text Гидрозащиты
				.benefit-card.benefit-card--darken.benefit-card--dynamic
					.benefit-card__number-wrapper
						p.benefit-card__number 05
					p.benefit-card__text Погружные электродвигатели

	section.section.info
		.container
			h2.section__title.info__title  Цех по производству и ремонту долот
			.info__row
				.info__col
					h6.info__title-h6 Тюменский завод нефтепогружного оборудования (ТЗНПО) специализируется на производстве силовых кабелей для электропогружных насосов.
					p.info__text Максимальная производительность - 300 долот в год
					p.info__text Обслуживание - 80 долот в месяц
					p.info__text Площадь цеха - 1000 кв.м
					p.info__text-title Локация: г. Тюмень <br> Год основания: 2014
					h4.h4.info__inner-title
						<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M35.5156 16.7123C34.436 15.9228 32.8956 16.1295 32.0723 17.2081L23.8415 27.9897L19.4577 23.8639L19.4377 23.8451L19.4167 23.8274L19.2437 23.6823L19.2157 23.6588L19.1861 23.6375C18.2136 22.9385 16.8337 23.0289 15.9615 23.9164C15.0016 24.8932 15.0402 26.4432 16.0244 27.3698L22.4132 33.3843L22.4334 33.4034L22.4548 33.4212L22.6304 33.5687L22.6588 33.5924L22.6889 33.6139C23.7509 34.3747 25.2824 34.1853 26.1098 33.1013L35.9952 20.1508L36.0126 20.128L36.0286 20.1042L36.1544 19.9178L36.1753 19.887L36.1937 19.8548C36.8003 18.792 36.5144 17.4426 35.5156 16.7123Z" fill="#03BE93"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M27.679 20.3081L18.7852 31.9582L13.611 27.0885L13.438 26.9432C12.8469 26.5184 12.0099 26.5778 11.4875 27.1094C10.9178 27.6889 10.9361 28.6106 11.5283 29.1682L17.917 35.1826L18.0928 35.3301C18.7388 35.7929 19.6665 35.671 20.1601 35.0241L30.0455 22.0734L30.1713 21.8871C30.5288 21.2607 30.365 20.455 29.7611 20.0134C29.1028 19.532 28.1704 19.6642 27.679 20.3081Z" fill="black"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M27.679 20.3081L18.7852 31.9582L13.611 27.0885L13.438 26.9432C12.8469 26.5184 12.0099 26.5778 11.4875 27.1094C10.9178 27.6889 10.9361 28.6106 11.5283 29.1682L17.917 35.1826L18.0928 35.3301C18.7388 35.7929 19.6665 35.671 20.1601 35.0241L30.0455 22.0734L30.1713 21.8871C30.5288 21.2607 30.365 20.455 29.7611 20.0134C29.1028 19.532 28.1704 19.6642 27.679 20.3081Z" fill="url(#paint0_linear_2087_1018)"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M38.8455 6.18202H35.9842V4.91918L35.978 4.91763L35.9734 3.89948L35.9602 3.67464C35.8633 2.96335 35.2394 2.41389 34.4857 2.41389H28.5742V1.45602C28.5742 0.651786 27.9081 0 27.0865 0H17.2213C16.3995 0 15.7336 0.651786 15.7336 1.45602V2.41395H9.82212C9.11805 2.41395 8.5284 2.89238 8.37392 3.53527V6.18202H5.46212C3.02971 6.18202 1.05786 8.15386 1.05786 10.5863V40.7551C1.05786 43.1875 3.02971 45.1594 5.46212 45.1594H38.8455C41.2779 45.1594 43.2497 43.1875 43.2497 40.7551V10.5863C43.2497 8.15386 41.2779 6.18202 38.8455 6.18202ZM11.3094 5.32593H17.2209C18.0426 5.32593 18.7085 4.67415 18.7085 3.86991V2.91203H25.5439L25.6119 4.06513C25.7087 4.77647 26.3326 5.32593 27.0864 5.32593H32.9979V9.65563H11.3094V5.32593ZM40.3136 40.7551C40.3136 41.5659 39.6564 42.2232 38.8455 42.2232H5.46212C4.65131 42.2232 3.99403 41.5659 3.99403 40.7551V10.5863C3.99403 9.77547 4.65131 9.11819 5.46212 9.11819H8.37392V11.4478C8.52905 12.0899 9.11829 12.5676 9.82164 12.5676H34.4855C35.3072 12.5676 35.9731 11.9159 35.9731 11.1116L35.9743 9.11819H38.8455C39.6564 9.11819 40.3136 9.77547 40.3136 10.5863V40.7551Z" fill="black"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M38.8455 6.18202H35.9842V4.91918L35.978 4.91763L35.9734 3.89948L35.9602 3.67464C35.8633 2.96335 35.2394 2.41389 34.4857 2.41389H28.5742V1.45602C28.5742 0.651786 27.9081 0 27.0865 0H17.2213C16.3995 0 15.7336 0.651786 15.7336 1.45602V2.41395H9.82212C9.11805 2.41395 8.5284 2.89238 8.37392 3.53527V6.18202H5.46212C3.02971 6.18202 1.05786 8.15386 1.05786 10.5863V40.7551C1.05786 43.1875 3.02971 45.1594 5.46212 45.1594H38.8455C41.2779 45.1594 43.2497 43.1875 43.2497 40.7551V10.5863C43.2497 8.15386 41.2779 6.18202 38.8455 6.18202ZM11.3094 5.32593H17.2209C18.0426 5.32593 18.7085 4.67415 18.7085 3.86991V2.91203H25.5439L25.6119 4.06513C25.7087 4.77647 26.3326 5.32593 27.0864 5.32593H32.9979V9.65563H11.3094V5.32593ZM40.3136 40.7551C40.3136 41.5659 39.6564 42.2232 38.8455 42.2232H5.46212C4.65131 42.2232 3.99403 41.5659 3.99403 40.7551V10.5863C3.99403 9.77547 4.65131 9.11819 5.46212 9.11819H8.37392V11.4478C8.52905 12.0899 9.11829 12.5676 9.82164 12.5676H34.4855C35.3072 12.5676 35.9731 11.9159 35.9731 11.1116L35.9743 9.11819H38.8455C39.6564 9.11819 40.3136 9.77547 40.3136 10.5863V40.7551Z" fill="url(#paint1_linear_2087_1018)"/>
							<defs>
							<linearGradient id="paint0_linear_2087_1018" x1="28.0393" y1="34.7774" x2="13.5" y2="16.108" gradientUnits="userSpaceOnUse">
							<stop stop-color="#07302D"/>
							<stop offset="1" stop-color="#0078BE"/>
							</linearGradient>
							<linearGradient id="paint1_linear_2087_1018" x1="38.176" y1="42.7964" x2="-4.45318" y2="0.674356" gradientUnits="userSpaceOnUse">
							<stop stop-color="#07302D"/>
							<stop offset="1" stop-color="#0078BE"/>
							</linearGradient>
							</defs>
						</svg>
						| Преимущества
					.info__inner-col
						ul.info__list
							li.info__list-element Компания «Технологии ОФС» обеспечивает полный цикл производства долот
							li.info__list-element Собственный конструкторский отдел
							li.info__list-element 24 собственных дизайнов долот
							li.info__list-element Срок производства долот нового дизайна с момента проектирования до спуска в скважину – до 50 суток
							li.info__list-element Цифровизация процесса производства и ремонта оборудования
						button.info__button.base-button
							| ПОДРОБНЕЕ О ПРОДУКЦИИ
							<svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.1709 3.69401C16.2781 3.29391 16.0406 2.88266 15.6405 2.77546L9.12049 1.02843C8.72039 0.921221 8.30914 1.15866 8.20193 1.55876C8.09473 1.95886 8.33216 2.37011 8.73226 2.47732L14.5278 4.03023L12.9749 9.82578C12.8677 10.2259 13.1052 10.6371 13.5053 10.7443C13.9054 10.8516 14.3166 10.6141 14.4238 10.214L16.1709 3.69401ZM1.96497 12.1494L15.8214 4.14942L15.0714 2.85038L1.21497 10.8504L1.96497 12.1494Z" fill="black"/>
							</svg>
				img.info__img(src="assets/img/main-page-img-04.jpg", alt="")

	section.section.info.info--green
		.container
			h2.section__title.info__title Тюменский производственный комплекс
			.info__row.info__row--start
				img.info__img(src="assets/img/main-page-img-05.jpg", alt="")
				.info__col
					h6.info__title-h6 Тюменский производственный комплекс (ТПК) ориентирован на производство и ремонт высокотехнологичного оборудования. В состав комплекса войдут три площадки.
					p.info__text Производственные площади - 7 тыс м2
					p.info__text Оборудование - более 35 ЧПУ-машин
					p.info__text Рабочие места - более 100 рабочих мест
					p.info__text-title Локация: г. Тюмень <br> Год основания: 2025
					h4.h4.info__inner-title
						<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M35.5156 16.7123C34.436 15.9228 32.8956 16.1295 32.0723 17.2081L23.8415 27.9897L19.4577 23.8639L19.4377 23.8451L19.4167 23.8274L19.2437 23.6823L19.2157 23.6588L19.1861 23.6375C18.2136 22.9385 16.8337 23.0289 15.9615 23.9164C15.0016 24.8932 15.0402 26.4432 16.0244 27.3698L22.4132 33.3843L22.4334 33.4034L22.4548 33.4212L22.6304 33.5687L22.6588 33.5924L22.6889 33.6139C23.7509 34.3747 25.2824 34.1853 26.1098 33.1013L35.9952 20.1508L36.0126 20.128L36.0286 20.1042L36.1544 19.9178L36.1753 19.887L36.1937 19.8548C36.8003 18.792 36.5144 17.4426 35.5156 16.7123Z" fill="#03BE93"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M27.679 20.3081L18.7852 31.9582L13.611 27.0885L13.438 26.9432C12.8469 26.5184 12.0099 26.5778 11.4875 27.1094C10.9178 27.6889 10.9361 28.6106 11.5283 29.1682L17.917 35.1826L18.0928 35.3301C18.7388 35.7929 19.6665 35.671 20.1601 35.0241L30.0455 22.0734L30.1713 21.8871C30.5288 21.2607 30.365 20.455 29.7611 20.0134C29.1028 19.532 28.1704 19.6642 27.679 20.3081Z" fill="black"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M27.679 20.3081L18.7852 31.9582L13.611 27.0885L13.438 26.9432C12.8469 26.5184 12.0099 26.5778 11.4875 27.1094C10.9178 27.6889 10.9361 28.6106 11.5283 29.1682L17.917 35.1826L18.0928 35.3301C18.7388 35.7929 19.6665 35.671 20.1601 35.0241L30.0455 22.0734L30.1713 21.8871C30.5288 21.2607 30.365 20.455 29.7611 20.0134C29.1028 19.532 28.1704 19.6642 27.679 20.3081Z" fill="url(#paint0_linear_2087_1018)"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M38.8455 6.18202H35.9842V4.91918L35.978 4.91763L35.9734 3.89948L35.9602 3.67464C35.8633 2.96335 35.2394 2.41389 34.4857 2.41389H28.5742V1.45602C28.5742 0.651786 27.9081 0 27.0865 0H17.2213C16.3995 0 15.7336 0.651786 15.7336 1.45602V2.41395H9.82212C9.11805 2.41395 8.5284 2.89238 8.37392 3.53527V6.18202H5.46212C3.02971 6.18202 1.05786 8.15386 1.05786 10.5863V40.7551C1.05786 43.1875 3.02971 45.1594 5.46212 45.1594H38.8455C41.2779 45.1594 43.2497 43.1875 43.2497 40.7551V10.5863C43.2497 8.15386 41.2779 6.18202 38.8455 6.18202ZM11.3094 5.32593H17.2209C18.0426 5.32593 18.7085 4.67415 18.7085 3.86991V2.91203H25.5439L25.6119 4.06513C25.7087 4.77647 26.3326 5.32593 27.0864 5.32593H32.9979V9.65563H11.3094V5.32593ZM40.3136 40.7551C40.3136 41.5659 39.6564 42.2232 38.8455 42.2232H5.46212C4.65131 42.2232 3.99403 41.5659 3.99403 40.7551V10.5863C3.99403 9.77547 4.65131 9.11819 5.46212 9.11819H8.37392V11.4478C8.52905 12.0899 9.11829 12.5676 9.82164 12.5676H34.4855C35.3072 12.5676 35.9731 11.9159 35.9731 11.1116L35.9743 9.11819H38.8455C39.6564 9.11819 40.3136 9.77547 40.3136 10.5863V40.7551Z" fill="black"/>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M38.8455 6.18202H35.9842V4.91918L35.978 4.91763L35.9734 3.89948L35.9602 3.67464C35.8633 2.96335 35.2394 2.41389 34.4857 2.41389H28.5742V1.45602C28.5742 0.651786 27.9081 0 27.0865 0H17.2213C16.3995 0 15.7336 0.651786 15.7336 1.45602V2.41395H9.82212C9.11805 2.41395 8.5284 2.89238 8.37392 3.53527V6.18202H5.46212C3.02971 6.18202 1.05786 8.15386 1.05786 10.5863V40.7551C1.05786 43.1875 3.02971 45.1594 5.46212 45.1594H38.8455C41.2779 45.1594 43.2497 43.1875 43.2497 40.7551V10.5863C43.2497 8.15386 41.2779 6.18202 38.8455 6.18202ZM11.3094 5.32593H17.2209C18.0426 5.32593 18.7085 4.67415 18.7085 3.86991V2.91203H25.5439L25.6119 4.06513C25.7087 4.77647 26.3326 5.32593 27.0864 5.32593H32.9979V9.65563H11.3094V5.32593ZM40.3136 40.7551C40.3136 41.5659 39.6564 42.2232 38.8455 42.2232H5.46212C4.65131 42.2232 3.99403 41.5659 3.99403 40.7551V10.5863C3.99403 9.77547 4.65131 9.11819 5.46212 9.11819H8.37392V11.4478C8.52905 12.0899 9.11829 12.5676 9.82164 12.5676H34.4855C35.3072 12.5676 35.9731 11.9159 35.9731 11.1116L35.9743 9.11819H38.8455C39.6564 9.11819 40.3136 9.77547 40.3136 10.5863V40.7551Z" fill="url(#paint1_linear_2087_1018)"/>
							<defs>
							<linearGradient id="paint0_linear_2087_1018" x1="28.0393" y1="34.7774" x2="13.5" y2="16.108" gradientUnits="userSpaceOnUse">
							<stop stop-color="#07302D"/>
							<stop offset="1" stop-color="#0078BE"/>
							</linearGradient>
							<linearGradient id="paint1_linear_2087_1018" x1="38.176" y1="42.7964" x2="-4.45318" y2="0.674356" gradientUnits="userSpaceOnUse">
							<stop stop-color="#07302D"/>
							<stop offset="1" stop-color="#0078BE"/>
							</linearGradient>
							</defs>
						</svg>
						| Оборудование
					.info__inner-col
						ul.info__list
							li.info__list-element станки с ЧПУ
							li.info__list-element комплекс для лазерной наплавки
							li.info__list-element сварочное оборудование
							li.info__list-element электроэрозионный станок
							li.info__list-element приборы и инструменты для ОТК
							li.info__list-element В 2026 году запланирован запуск производственного комплекса по изготовлению корпусных деталей оборудования для наклонно-направленного бурения и заканчивания скважин.
							li.info__list-element В планах – запуск площадки по сборочному производству оборудования для наклонно-направленного бурения и заканчивания скважин.
					h6.info__title-h6 В настоящее время запущена площадка по производству:
					.info__inner-col
						ul.info__list
							li.info__list-element буровых долот
							li.info__list-element ремонт и восстановление оборудования ННБ отклоняющихся лопаток РУС
							li.info__list-element Также на площадке размещен лазерный комплекс для наплавки износостойких покрытий, ремонта и восстановлении оборудования.

	section.section.info
		.container
			h2.section__title.info__title Центр разработки электронных плат
			.info__row.info__row--start
				.info__col
					h6.info__title-h6 Тюменский производственный комплекс (ТПК) ориентирован на производство и ремонт высокотехнологичного оборудования. В состав комплекса войдут три площадки.
					p.info__text-title Локация: г. Тюмень <br> Год основания: 2025
					h6.info__title-h6 На ее базе:
					.info__inner-col
						ul.info__list
							li.info__list-element Комплект испытательного оборудования (в т.ч. рентген, климатические камеры, вибростенд);
							li.info__list-element Применение аддитивных технологий (3D-печать);
							li.info__list-element Разработано и изготовлено более 100 прототипов электронных печатных плат
							li.info__list-element Изготовление производственного оборудования на собственных мощностях
					h6.info__title-h6 Следующем этапом развития электроники является  освоение  многокристального модуля (МСМ). Модули позволяют решить основные задачи электроники, в сравнении с обычной компоновкой.
					h6.info__title-h6 Миниатюризация:
					.info__inner-col
						ul.info__list
							li.info__list-element Модули позволяют решить основные задачи электроники, в сравнении с обычной компоновкой:
							li.info__list-element Миниатюризация:
							li.info__list-element повышение скорости передачи сигналов
							li.info__list-element повышение производительности работа на высоких температурах высокая надежность увеличение функциональности
							li.info__list-element повышение скорости передачи сигналов
							li.info__list-element повышение производительности
							li.info__list-element работа на высоких температурах
							li.info__list-element высокая надежность
							li.info__list-element увеличение функциональности
						button.info__button.base-button
							| ПОДРОБНЕЕ О ПРОДУКЦИИ
							<svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.1709 3.69401C16.2781 3.29391 16.0406 2.88266 15.6405 2.77546L9.12049 1.02843C8.72039 0.921221 8.30914 1.15866 8.20193 1.55876C8.09473 1.95886 8.33216 2.37011 8.73226 2.47732L14.5278 4.03023L12.9749 9.82578C12.8677 10.2259 13.1052 10.6371 13.5053 10.7443C13.9054 10.8516 14.3166 10.6141 14.4238 10.214L16.1709 3.69401ZM1.96497 12.1494L15.8214 4.14942L15.0714 2.85038L1.21497 10.8504L1.96497 12.1494Z" fill="black"/>
							</svg>

				img.info__img(src="assets/img/main-page-img-06.jpg", alt="")
