extends _layout

block main
	section.section.info.info--partners
		.container
			h2.section__title.info__title Сотрудничество
			.info__row.info__row--start
				.info__col
					p.info__text.p1 Если Ваша компания рассматривает возможность сотрудничества в качестве поставщика оборудования, товаров или услуг, обратитесь в наш отдел закупок. Для прямой связи со специалистами отдела необходимо заполнить форму. 

					.info__button-wrapper
						p.info__button-title По вопросам сотрудничества
						button.info__button.base-button(data-modal-open="partners-modal")
							| связаться
							<svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.1709 3.69401C16.2781 3.29391 16.0406 2.88266 15.6405 2.77546L9.12049 1.02843C8.72039 0.921221 8.30914 1.15866 8.20193 1.55876C8.09473 1.95886 8.33216 2.37011 8.73226 2.47732L14.5278 4.03023L12.9749 9.82578C12.8677 10.2259 13.1052 10.6371 13.5053 10.7443C13.9054 10.8516 14.3166 10.6141 14.4238 10.214L16.1709 3.69401ZM1.96497 12.1494L15.8214 4.14942L15.0714 2.85038L1.21497 10.8504L1.96497 12.1494Z" fill="white"/>
							</svg>
				img.info__img(src="assets/img/placeholder.jpg", alt="")
