extends _layout

block main
	section.section.hero
		.hero__video-wrapper
			video(src="").hero__video
		.container
			.breadcrumbs
				a.breadcrumbs__link(href="#") Главная
				a.breadcrumbs__link(href="#") Решения
			.hero__column
				h1.hero__title.h1 Продукция - УЭЦН
				.hero__play-button
					<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M26.5 13.634C27.1667 14.0189 27.1667 14.9811 26.5 15.366L7.75 26.1913C7.08333 26.5762 6.25 26.0951 6.25 25.3253L6.25 3.67468C6.25 2.90488 7.08334 2.42376 7.75 2.80866L26.5 13.634Z" fill="white"/>
					</svg>

	section.section.info
		.container
			h2.section__title.info__title Электродвигатели асинхронные погружные
			.info__texts
				p.info__text На производстве  «Ойлпамп сервис»(входит в ГК “Технологии ОФС”) выпускается  электродвигатели асинхронные погружные трехфазные маслонаполненные двухполюсные с короткозамкнутым ротором серии ПЭД, ВПЭД и ПЭДС.
				p.info__text Данное оборудование предназначено для продолжительного режима работы S1 по IEC 60034-1-2014 от сети переменного тока 35-70 Гц и применяются в качестве привода центробежных модульных насосов для откачки пластовой жидкости из нефтяных скважин в составе установки электроцентробежного насоса.
				p.info__text Электродвигатели работают совместно с гидрозащитами, имеющими соответствующие присоединительные размеры, группу исполнения и заполненными идентичным маслом.
				p.info__text Все электродвигатели имеют соединение фаз статора в звезду с выведенным в нижнюю часть нулевым проводом.
				p.info__text Электродвигатель в зависимости от мощности и температуры эксплуатации может быть оснащен системой погружной телеметрии по согласованию с заказчиком.
			h4.info__title-h4 Используемые материалы:
			ul.info__list.info__list--fill
				li.info__list-element Концевые детали должны быть изготовлены из стали не ниже Ст40Х по прочностным характеристикам, для коррозионностойкого исполнения Ст40Х13
				li.info__list-element Материал корпусов для стандартных исполнений – Сталь 35 (1035)
				li.info__list-element Материал корпуса из нержавеющей стали 12Х18Н10Т (AISI 304)
				li.info__list-element Крепеж соединений секций - ресурсный класса прочности не ниже класса 10.9 по ISO 898-1-2014⑬ из стали 30ХГСА, 05Х16Н4Д2Б, 14Х17Н2 (количество циклов до разрушения 300 000). Для коррозионностойкого исполнения материал - К-монель.
				li.info__list-element Валы изготавливаются из нержавеющих легированных сталей 05Х16Н4Д2Б, либо аналогов, группы прочности Т9-Т11 с ударной вязкостью не менее 12 кгс∙м/см2. Возможно по запросу и согласованию использование валов групп прочности Т12 и выше
				li.info__list-element Резиновые уплотнительные кольца изготавливаются из материалов типа Тер-10 для улучшенного высокотемпературного исполнения и типа РС-3 для стандартного и высокотемпературного исполнений.
			.info__button-wrapper
				button.info__button.base-button Подробнее об оборудовании

	section.section.info.info--green
		.container
			h2.section__title.info__title Гидрозащита
			p.info__text Гидрозащита является составной частью погружного электродвигателя и предназначена для работы в скважинах с температурой до 338 °F / 170°C.
			h4.info__title-h4 Гидрозащита должна обеспечивать:
			ul.info__list.info__list--fill
				li.info__list-element предохранение внутренней полости электродвигателя от попадания пластовой жидкости;
				li.info__list-element компенсацию температурных изменений объема масла и его расхода;
				li.info__list-element выравнивание давления во внутренней полости электродвигателя и давления в скважине;
				li.info__list-element передачу крутящего момента электродвигателя насосу;
				li.info__list-element восприятие осевой нагрузки вала насоса при применении ЭЦН без осевой опоры вала.
			.info__texts
				p.info__text Рабочая температура стандартного исполнения - 302°F / 150°C. Предельная длительно-допускаемая температура - 428°F  / 220°С. Резиновые уплотнительные кольца для гидрозащит базовых модификаций (обычного исполнения) по теплостойкости изготавливаются из резиновой смеси с термостойкостью не менее 338°F, а для модификаций теплостойкого исполнения - из резиновой смеси с термостойкостью не менее 428°F.
				p.info__text В зависимости от исполнения применяются резиновые смеси РС-3, Тер-10, по запросу заказчика – Афлас.
				p.info__text Для коррозионностойких исполнений корпусов и концевых деталей применяется покрытие газопламенного метода нанесения, либо по запросу заказчика нержавеющая сталь 14Х17Н2, 12Х18Н10Т и аналоги, крепеж из сплава К-монель.
				p.info__text Гидрозащиты могут применяться с двигателями левого и правого направления вращения. Допускается увеличение частоты вращения двигателя до 70 Гц
			h4.info__title-h4 Базовые конструкции гидрозащит:
			ul.info__texts
				p.info__text OPS-362SEAL-408-1,7DB - состоит из диафрагмы в верхней и нижней части, с под-пятником, выдерживающим нагрузку 1700 lb и фильтром-охладителем, диаметром корпуса – 3,62 in. Соединяется с приемным устройством 362, 406 габарита и снизу электродвигателем 406 и 460 габарита
				p.info__text OPS-362SEAL-408-3,3DB – состоит из диафрагмы в верхней и нижней части, с подпятником, выдерживающим нагрузку 3300 lb и фильтром-охладителем, диаметром корпуса – 3,62 in. Соединяется с приемным устройством 362, 406 габарита и снизу электродвигателем 406 и 460 габарита
				p.info__text OPS-362SEAL-588-2,6LDB - состоит из лабиринта в верхней части и диафрагм в нижней части, с подпятником, выдерживающим нагрузку 2600 lb и фильтром-охладителем, диаметром корпуса – 3,62 in. Соединяется с приемным устройством 362, 406 габарита и снизу электродвигателем 406 и 460 габарита
				p.info__text OPS-406SEAL-588-4,4LDB - состоит из лабиринта в верхней части и диафрагм в нижней части, с подпятником, выдерживающим нагрузку 4400 lb и фильтром-охладителем, диаметром корпуса – 4,06 in. Соединяется с приемным устройством 362, 406 габарита и снизу электродвигателем 406 и 460 габарита
				p.info__text OPS-450SEAL-816-3,3LDB - состоит из лабиринта и диафрагм в верхней и нижней части, с подпятником, выдерживающим нагрузку 3300 lb и фильтром-охладителем, диаметром корпуса – 450 in. Соединяется с приемным устройством 535 габарита и электродвигателем ПЭД 511 габарита.
				p.info__text По согласованию с предприятием-изготовителем допускается эксплуатация гидрозащит в составе погружной винтовой установки без дополнительных осевых и радиальных нагрузок.
			.info__button-wrapper
				button.info__button.base-button Подробнее об оборудовании


	section.section.info
		.container
			h2.section__title.info__title Погружные электроцентробежные насосы
			.info__texts
				p.info__text Насосы погружные электроцентробежные предназначены для работы в составе установки для откачки пластовой жидкости из нефтяных скважин.
				p.info__text Насосы изготавливаются в габаритных группах 362, 406, 535 , спроектированы по секционному принципу и состоят из верхней секции (с отдельной или интегрированной ловильной головкой для соединения насоса с колонной НКТ), средних секций, входного модуля,  при необходимости: газостабилизирующего модуля (газосепаратора, диспергатора или газосепаратора-диспергатора – при наличии свободного газа в пластовой жидкости), обратного и спускного клапанов.
			h4.info__title-h4 Насосы производства ООО «Ойлпамп Сервис» изготавливаются следующих исполнений:
			ul.info__list.info__list--fill
				li.info__list-element Исполнение
				li.info__list-element Конструктивные особенности
				li.info__list-element Износостойкое
			.info__texts
				p.info__text Схема сборки – плавающая;
				p.info__text Расстояние между промежуточными подшипниками – не более 500 мм;
				p.info__text Материал рабочих органов – чугун типа «нирезист» или порошковые стали
				p.info__text Абразивостойкое
				p.info__text Схема сборки – пакетная;
				p.info__text Расстояние между промежуточными подшипниками – 300±50 мм;
				p.info__text Материал рабочих органов – чугун типа «нирезист»
			h4.info__title-h4 Допустимые характеристики пластовой жидкости (смесь нефти, попутной воды, минеральных примесей и нефтяного газа):
			.info__texts
				p.info__text - плотность жидкости, кг/м3 – 700-1400;
				p.info__text - максимальная кинематическая вязкость однофазной жидкости, при которой обеспечивается работа насоса без изменения напора и КПД – 1 мм2/с;
				p.info__text - водородный показатель попутной воды: рН 3,0 – 9,0, допускается краткосрочное (до 6 часов) снижение рН до 0;
				p.info__text - максимальное содержание попутной воды – 99%;
				p.info__text - максимальное содержание свободного газа на приеме насоса – 25% по объему; с применением газосепаратора в составе установки – 55 %, с применение газосепаратора-диспергатора – 75%;
				p.info__text - максимальная температура перекачиваемой жидкости до 150°C/302°F;
				p.info__text - максимальная массовая концентрация твердых частиц (КВЧ):
			ul.info__list.info__list--fill
				li.info__list-element для насосов износостойкого исполнения    -  500 мг/л;
				li.info__list-element для насосов абразивостойкого исполнения – 1000 мг/л;
			.info__texts
				p.info__text - микротвердость частиц, баллов по Мооссу – 7;
				p.info__text - максимальное содержание агрессивных компонентов, г/л:

			.info__button-wrapper
				button.info__button.base-button Подробнее об оборудовании
