extends _layout

block main
	section.section.hero
		.hero__video-wrapper
			video(src="").hero__video
		.container
			.breadcrumbs
				a.breadcrumbs__link(href="#") Главная
				a.breadcrumbs__link(href="#") Решения
			.hero__column
				h1.hero__title.h1 Продукция - Нефтепогружные кабели
				.hero__play-button
					<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M26.5 13.634C27.1667 14.0189 27.1667 14.9811 26.5 15.366L7.75 26.1913C7.08333 26.5762 6.25 26.0951 6.25 25.3253L6.25 3.67468C6.25 2.90488 7.08334 2.42376 7.75 2.80866L26.5 13.634Z" fill="white"/>
					</svg>

	section.section.info
		.container
			h2.section__title.info__title Нефтепогружные кабели
			p.info__subtitle Компания «Технологии ОФС» разрабатывает и производит полную линейку кабелей для систем электропогружных насосов (ЭЦН) специально для нефтегазовой промышленности.
			.info__row.info__row--start
				img.info__img(src="assets/img/placeholder.jpg", alt="")
				.info__col
					h4.info__title-h4 Мощностие ТЗНПО обеспечивают производсто линеек кабелей:
					.info__links
						a.info__link
							| КАБЕЛЬ CELF
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9.62 3.95337L13.6667 8.00004L9.62 12.0467" stroke="#03BE93" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M2.33337 8H13.5534" stroke="#03BE93" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						a.info__link
							| КАБЕЛЬ CELF
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9.62 3.95337L13.6667 8.00004L9.62 12.0467" stroke="#03BE93" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M2.33337 8H13.5534" stroke="#03BE93" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						a.info__link
							| КАБЕЛЬ CELF
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9.62 3.95337L13.6667 8.00004L9.62 12.0467" stroke="#03BE93" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M2.33337 8H13.5534" stroke="#03BE93" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
